* {
    font-size: 16px;
    background-color: #424B54;
    font-family: 'Merriweather', serif;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

 h1 {
    font-size: 2.25rem;
 }







/* Header Start */
header.header{
    display: flex;
    background-color: #F4FFF8;
    width: 100%;
    justify-content: center;
    align-items: center;
}
header h1 {
    font-family: 'Lobster', cursive;
    background-color: inherit;
    margin-left: 1rem;
    margin-right: 1rem;
}


.organismImgContainerR, .organismImgContainerL {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.organismImgContainerR {
    transform: scaleX(-1);
}

.organismImgContainerL img, .organismImgContainerR img {
    max-width: 80%;
    background-color: none;
    border-radius: inherit;
}

/* Header End */
/* New Strand(s) Generator Button and Generated full list(s) Section Start */

.randomGenButtonAndFullDNAcontainer {
    background-color: inherit;
    display: flex;
    height: 20rem;
    margin-top: 3rem;
}

.DNA-ListContainer {
    background-color: inherit;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonParentContainer {
    width: 25%;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonChildContainer {
    background-color: #F4FFF8;
    width: 12rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonChildContainer button {
    background-color: #B38D97;
    font-size: .9rem;
    border-radius: 4px;
    border: 0.5px solid black;
    box-shadow: 2.5px 3.5px rgb(175, 175, 175);
}

.DNA-ListContainer {
    width: 75%;
    background-color: #F4FFF8;
}

#strand1 {
    background-color: inherit;
}

#strand2 {
    background-color: inherit;
}

/* Button and Generated full list Section End */
/* Pair Selector Form and Pair Value Generator Start */

.pairSelectorParentContainer {
    background-color: inherit;
    display: flex;
    height: 20rem;
    justify-content: center;
    align-items: center;
}

.pairSelectorChildContainer {
    background-color: #F4FFF8;
    width: 35rem;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pairSelectorFormContainer {
    background-color: #D9D9D9;
    width: 10rem;
    height: 5rem;
    position: relative;
    display: inline-block;
}

.pairSelectorFormContainer p {
    background-color: inherit;
}

.pairDisplayContainer {
    background-color: #3bc14a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    animation: none;
}

.pairDisplayContainer p {
    background-color: inherit;
}


/* Form Start */
.btn {
    background-color: #D9D9D9;
    color: #000000;
    padding: .4rem;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #000000;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #B38D97;
    border: 1px solid #333;
    z-index: 1;
    width: 100%;
    max-height: 125%;
    overflow-y: auto;
    display: none;
  }


  
  .pairSelectorFormContainer:hover .dropdown-content {
    display: block;
    background-color:#B38D97;
  }
  
  .scrollable {
    display: flex;
    flex-direction: column;
    background-color:#B38D97;

  }
  
  input[type="radio"] {
    appearance: none;
    width: 10px;
    height: 10px;
    margin-right: 3px;
    border-radius: 0;
    background-color: #F4FFF8;
    border: .8px solid black;
  }
  
  label {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: #D9D9D9;
  }

  #form {
    background-color: #D9D9D9;
  }

/* Form End */
/* Pair Selector Form Container and Pair Value Generator End */

/* Keyframes */

@keyframes close {
    0% {transform: scale(1);}
    50% {transform: scale(0.5);}
    100% {transform: scale(0)}
}

@keyframes open {
    0% {transform: scale(0)}
    50% {transform: scale(0.5);}
    100% {transform: scale(1);}
}